body{
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    background-image: url("../images/congruent_pentagon.png");
    background-color: #666666;
}

header {
    height: 0px;
    margin-left: 0 auto;
    margin-right: 0 auto;
    margin-bottom: 30px;
    padding-bottom: 66px;
    border-bottom: 2px solid #cccccc;
    background-color: #ffffff;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15pt;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15pt;
    color: #4aaaa5;
    border-bottom: 2px solid #cccccc;
    padding-bottom: 20px;
    padding-top: 10px;
}

#logo {
    background-color: #4aaaa5;
    width: 179px;
    float: left;
    text-align: center;
    color: #ffffff;
    margin-left: 200px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 8px;
    padding-bottom: 9px;
    
}

nav {
    height: 66px;
    margin-right: 200px;
    float: right;
}

.btn {
    margin-top: 23px;
    margin-right: 10px;
    float: left;
    border-right: 2px solid #dddddd;
    padding-right: 6px;
  
}

section {
    width: 960px;
    background: #ffffff;
    margin: 0 auto;
    margin-bottom: 66px;
    border: 2px solid #dddddd;
}

article {
    padding: 20px;
    
}

img {
    float: left;
    margin: 20px;
    width: 400px;
    height: 200px;
}

.content {
    min-height: calc(100vh - 70px);
}

.footer {
    height: 50px;
    padding-top: 35px;
    padding-bottom: 8px;
    clear: both;
    overflow:auto;
    background-color: #666666;
    text-align: center;
    color: #ffffff;
    border-top: 8px solid #4aaaa5;
}

a:link {
    color: #777777;
    text-decoration: none;    
}

a:visited {
    color: #00FF00;
}

a:hover { 
    color: #ffffff;
    background-color: #4aaaa5; 
    font-weight: bold;
    font-family: 'Permanent Marker', cursive;
}

a:active {
    color: rgb(0, 255, 179);
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 500px; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    width: 750px;
    margin:0 auto;
}

#image-cont {
    position: relative;
    display: inline-block;
}

#img1{
    width: 300px;
    height: 200px;
    object-fit: cover;
    float: none;
    margin: 0px;

}

.names {
    background-color: #4aaaa5;
    width: 260px;
    color: #ffffff;
    padding: 20px;
    position: absolute;
    bottom: 10px;
    text-align: center;

}